@model ICollection<WebApplication1.Storage.Entity.Student>

<h1>Студенты</h1>

<table>
    <tr>
        <th>Идентификационный номер</th>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Группа</th>
    </tr>
    @foreach(var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.LastName</td>
            <td>@student.Name</td>
            <td>@student.Group.Name <br />@student.Group.Description</td>
        </tr>
    }
</table>

<div>
    <h1>Удаление студента</h1>
    @using (Html.BeginForm("DeleteStudent", "Student", FormMethod.Post))
    {
        <textarea name="studentId" id="studentId"></textarea>
        <button type="submit">Отчислить</button>
    }
</div>
